.avatar-list {
  @include clearfix();
  height: 100%;

  .avatar-list__item {
    float: left;
    margin-right: .4em;
  }

  .avatar-list__btn {
    line-height: 38px;
    padding: 0 19px;
    float: right;
    height: 100%;
  }
}
