$grid-gutter-width: 12px;

.card {
  @include make-xs-column(12);
}

.card--half-size {
  @include make-xs-column(6);
}

.card__content {
  background: #FFF;
  padding: .4em;
  border-radius: 2px;
  @include box-shadow(0px 0px 2px #888888);
}

.card__title {
  margin: 0;
}

