= render 'navbar'
.card-page

  .card-row
    .card
      .card__content
        %h1.card__title Where should we go on our Loomio retreat in October?

  .card-row
    .card
      .card__content
        .avatar-list
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__btn.btn.btn-primary Invite

  .card-row
    .card
      .card__content
        .media-header
          .media-header__img
            %img.media-object{alt: "...", src: "holder.js/40x40"}
          .media-header__text
            %h4.media-header__title Discussion notes
            .media-header__details Edited 30 minutes ago
        .media-content
          Several considerations should be taken into account when we choose where we'd like to stay...
           
          1. Cost should be less than $200pp
          2. Should be warm!
          3. Must have internet access. :)

  .card-row
    .card.card--half-size
      .card__content
        %img{src: "holder.js/150x150"}
    .card.card--half-size
      .card__content
        %img{src: "holder.js/150x150"}

