= render 'navbar'
.discussion-container
  .card-wrapper
    .card-container
      .card
        %h1.discussion-title Where should we go on our Loomio retreat in October?
    / .col-xs-12.card-container
    /   .card
    /     %p Hey there my friend
