= render 'navbar'
.container
  .row
    .col-sm-12{style:'background: #AAF'}
      %h1 Where should we go on our Loomio retreat in October?
    / .col-sm-4{style:'background: #AFA'}
    /   %h1 precious
    / .col-sm-4{style:'background: #FAA'}
    /   %h1 world
