= render 'navbar'
.card-page
  .card
    .card__wrapper
      .card__content
        %h1.card__title Where should we go on our Loomio retreat in October?
  .card
    .card__wrapper
      .card__content
        .avatar-list
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__item
            %img{src: "holder.js/40x40"}
          .avatar-list__btn.btn.btn-primary Invite
