= render 'navbar'
.card-page
  .card-row
    .card-wrapper
      .card
        %h1.card-title Where should we go on our Loomio retreat in October?
  .card-row
    .card-wrapper
      .card
        .avatar-list
          .avatar-list-item
            %img{src: "holder.js/40x40"}
          .avatar-list-item
            %img{src: "holder.js/40x40"}
          .avatar-list-item
            %img{src: "holder.js/40x40"}
          .avatar-list-btn.btn.btn-primary Invite
