// Place all the styles related to the discussion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";
@import "twitter/bootstrap/grid";

$grid-gutter-width: 12px;

html { height: 100%; }
body { height: 100%; }

.card {
  background: #FFF;
  padding: .4em;
}

.card-container {
  margin-bottom: .4em;
  @include make-row();
}

.card-wrapper {
  @include make-xs-column(12);
}

.discussion-container {
  @extend .container;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  padding-top: $grid-gutter-width / 2;
  background: #CCC;
  min-height: 100%;
  // padding-top: .4em;
}

.discussion-title {
  margin: 0;
}

.loomio-nav {
  margin-bottom: 0;
}

